@font-face {
   font-family: 'OpenSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Hung/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-20_113053/fonts/OpenSans-Regular/font.ttf');
}
